.header-container {
    margin: 0 auto;
    
    &__block {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 97px;

        @media screen and (max-width: 992px) {
            justify-content: space-between;
        }
    }

    &__list {
        display: flex;
 
        @media screen and (max-width: 992px) {
            display: none;
        }
    }

    &__item {
        margin-right: 27px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
            a:hover {
                color: #EF7F04;
        }

        @media screen and (max-width: 1150px) {
            margin-right: 10px;
            font-size: 14px;
        }
    }
}

.header-container__img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 44px;


    @media screen and (max-width: 1100px) {
        padding-right: 10px;
    }
}
    
.header-container__img-2 {

    @media screen and (max-width: 992px) {
        margin-left: 60px;
    }
}

.hamburger-menu {
    display: flex;
    justify-content: center;
}
/*Скрываем чекбокс*/
#menu__toggle {
    opacity: 0;
}

/*стилизуем кнопку*/
.menu__btn {
    display: flex;
    align-items: center;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

/* добавляем "гамбургер" */
.menu__btn > span {
    display: none;

    @media screen and (max-width: 992px) {
    display: block;
    position: absolute;
    width: 56px;
    height: 7px;
    background-color: #EF7F04;
    }
}

.menu__btn > span::before {
    display: none;

    @media screen and (max-width: 992px) {
        content: '';
        display: block;
        position: absolute;
        top: -17px;
        width: 56px;
        height: 7px;
        background-color: #EF7F04;
    }
}

.menu__btn > span::after {
    display: none;

    @media screen and (max-width: 992px) {
        content: '';
        display: block;
        position: absolute;
        top: 17px;
        width: 56px;
        height: 7px;
        background-color: #EF7F04;
    }
}

/* контейнер меню */
.menu__box {
    display: none;

    @media screen and (max-width: 992px) {
        display: block;
        position: absolute;
        visibility: hidden;
        top: 0;
        left: 1%;
        width: 200px;
        height: 200px;
        margin: 0;
        padding: 70px 0;
        list-style: none;
        text-align: center;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2); 
    }
}

/* элементы меню */
.menu__item {
    display: none; 

    @media screen and (max-width: 992px) {
        display: block;
    padding: 12px 24px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    }
}

.menu__item:hover {
    background-color: #3B3A63;
    opacity: 0.9;
}

.menu__item:hover {
    color: #EF7F04;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {

    visibility: visible;
    left: 0;
}

.header-container__buttons {
    
    @media screen and (max-width: 992px) {
        margin-right: 56px;
    }
}

.header-buttons {

    &__one {
        max-width: 169px;
        height: 40px;
        background-color: #EF7F04;
        color: #FFFFFF;
        font-size: 13px;
        border-radius: 3px;
        margin-right: 14px;
        cursor: pointer;
    }

    &__two {
        max-width: 169px;
        height: 40px;
        background-color: #3B3A63;
        color: #FFFFFF;
        font-size: 13px;
        border-radius: 3px;
        cursor: pointer;

       @media screen and (max-width: 1100px) {
            margin-top: 5px;
        }
    }

    &__text {
        margin-left: 5px;
        font-weight: 400;
    }
}

.header-buttons__one:hover {
    opacity: 0.7;
}

.header-buttons__two:hover {
    opacity: 0.7;
}

.header .menu__nav-a:hover {
    padding-top: 35px;
    border-top: 4px solid rgb(239, 127, 4);
}

.menu__nav-a:any-link{
    color: #000000;
}